:root {
  --color-primary: #2ca46d;
  --color-body: #232a34;
  --color-body-lighter: #2d343e;
}

/* Typography Highlighting */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--download {
  height: 15px;
  width: 15px;
  padding-left: 5px;
  fill: #fff;
}

.icon--white {
  fill: #fff;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  opacity: 1;
  max-height: 100vh;
}

/* Navigation Bar */
.nav {
  align-items: center;
  background: #232a34;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #343a40;
}

.nav__item > a {
  color: #dee2e6;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #48bfe3;
}

.nav__toggler {
  cursor: pointer;
  opacity: 0.5;
  transition: box-shadow 0.15s;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
}

.navbar__brand {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    width: auto;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Badges */
.badge {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 20px;
  padding: 1.5rem 3rem;
  white-space: nowrap;
}

.badge--about {
  background: #014f86;
  color: #fff;
  border-radius: 10px;
}

.badge--about > a {
  text-decoration: none;
}

.badge--intro {
  background: var(--color-primary);
  color: #fff;
  border-radius: 20px 20px 0 20px;
}

.badge--download {
  background: var(--color-primary);
  color: #fff;
}

.badge--download > img {
  max-width: 20px;
  padding-top: 10px;
}

/* Hero  */
.hero {
  min-height: 100vh;
  background: #a9d6e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About */
.about {
  min-height: 100vh;
  background: #61a5c2;
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}
