:root {
  --color-primary: #3a86ff;
  --color-body: #232a34;
  --color-body-lighter: #2d343e;
}

/* Typography Highlighting */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-body);
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--download {
  height: 15px;
  width: 15px;
  padding-left: 5px;
  fill: #fff;
}

.icon--white {
  fill: #fff;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  opacity: 1;
  max-height: 100vh;
}

/* Navigation Bar */
.nav {
  align-items: center;
  background: #232a34;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #343a40;
}

.nav__item > a {
  color: #dee2e6;
  transition: color 0.3s;
  font-size: 1.8rem;
}

.nav__item > a:hover {
  color: #48bfe3;
}

.nav__toggler {
  cursor: pointer;
  opacity: 0.5;
  transition: box-shadow 0.15s;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
}

.navbar__brand {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    width: auto;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Badges */
.badge {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 20px;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.badge--about {
  background: #014f86;
  color: #fff;
  border-radius: 10px;
}

.badge--about > a {
  text-decoration: none;
}

.badge--intro {
  background: var(--color-primary);
  color: #fff;
  border-radius: 20px 20px 0 20px;
}

.badge--download {
  background: var(--color-primary);
  color: #fff;
}

.badge--download > img {
  max-width: 20px;
  padding-top: 10px;
}

.badge--download > span {
  margin-left: 1rem;
}

.badge--social {
  color: #fff;
  border: 1px solid white;
  border-radius: 100%;
  text-align: center;
  padding: 1rem;
  width: 45px;
  height: 45px;
}

.badge--social:hover {
  background: #fff;
  color: var(--color-body-lighter);
  border: 1px solid var(--color-body);
}

/* Hero */
.hero {
  min-height: 100vh;
  margin: 0 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
}

.hero h3 {
  font-size: 2.4rem;
  color: #e9ecef;
}

.hero__title {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.hero__about {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
  }
  .hero h1 {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero h1 {
    font-size: 6rem;
  }
}

/* Button */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 1.7rem 3rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

.btn-secondary {
  background: var(--color-body);
  color: #fff;
  border: 1px solid #fff;
}

.btn-secondary:hover {
  background: #3a86ff;
  color: #fff;
  border: 1px solid #3a86ff;
}

/* Section Title */
.section__title {
  font-size: 2.2rem;
  text-align: center;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Card */
.card {
  width: 370px;
  color: #fff;
}

.card__content {
  background: var(--color-body-lighter);
  padding: 6rem;
  border-radius: 3px;
  margin: 5rem 1.5rem;
  position: relative;
}

.card__content > span {
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  width: 7rem;
  height: 7rem;
  color: #fff;
  border-radius: 100px;
  background: var(--color-primary);
}

.card__title {
  margin: 15px 0;
}

.card__body {
  margin: 0;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.about__title {
  font-size: 4rem;
  margin: 0 0 20px 0;
}

.about__summary {
  max-width: 60%;
}

.about a {
  margin-top: 4rem;
}

.about-headshot {
  border-radius: 30%;
}
