<section id="service">
  <div class="container">
    <div class="section__title">
      <h1>What I Can Do For You</h1>
    </div>
    <div class="row">
      <div class="card">
        <div class="card__content">
          <span></span>
          <h4 class="card__title">Development</h4>
          <p class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In
            reprehenderit quam iusto inventore, doloremque quisquam.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__content">
          <span> </span>
          <h4 class="card__title">Cloud</h4>
          <p class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In
            reprehenderit quam iusto inventore, doloremque quisquam.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__content">
          <span></span>
          <h4 class="card__title">DevOps</h4>
          <p class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In
            reprehenderit quam iusto inventore, doloremque quisquam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
